#clock {
}

#clock img {
}

#but {
	background-color: yellow;
	z-index: 999;
	position: relative;
	right: -1000px;
}

img {
	border: 1px solid black;
	z-index: 0;
}

#hour {
	position: relative;
	bottom: 600px;
	right: 595px;
	z-index: 0;
}

#minute {
	position: relative;
	bottom: 600px;
	left: 10px;
	z-index: 0;
}

#second {
	position: relative;
	right: 595px;
	z-index: 0;
}

