@keyframes turn {
	0% {transform: rotate(0deg);}
	5% {transform: rotate(18deg);}
	10% {transform: rotate(36deg);}
	15% {transform: rotate(54deg);}
	20% {transform: rotate(72deg);}
	25% {transform: rotate(90deg);}
	30% {transform: rotate(108deg);}
	35% {transform: rotate(126deg);}
	40% {transform: rotate(144deg);}
	45% {transform: rotate(162deg);}
	50% {transform: rotate(180deg);}
	55% {transform: rotate(198deg);}
	60% {transform: rotate(216deg);}
	65% {transform: rotate(234deg);}
	70% {transform: rotate(252deg);}
	75% {transform: rotate(270deg);}
	80% {transform: rotate(288deg);}
	85% {transform: rotate(306deg);}
	90% {transform: rotate(324deg);}
	95% {transform: rotate(342deg);}
	100% {transform: rotate(360deg);}
}

#clock {
	width: 45%;
	height: 800px;
	position: relative;
	display: block;
	margin: 40px auto;
}

#clock2 {
	width: 45%;
	height: 800px;
	position: relative;
	display: block;
	margin: 40px auto;
	text-align: center;
}

#utc8 {
	font-family: 'Monoton', cursive;
	font-size: 3em;
	display: block;
}

#clock2 img {
	position: absolute;
	display: block;
}

#clock img {
	position: absolute;
}

#hour {
	/*animation: turn 216000s infinite;*/
}

#minute {
	/*animation: turn 3600s infinite;*/
}

#second {
	/*animation: turn 60s infinite;*/
}

.digital {
	margin: 0 auto;
	text-align: center;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

div {
	position: relative;
}

h1 {
	font-family: 'Monoton', cursive;
	font-size: 3em;
}